@import url(./markdown.css);

.toolbar .mdui-typo-title {
    transition: opacity .2s cubic-bezier(.4, 0, .2, 1);
}

.toolbar-unfloat {
    background-color: transparent !important;
}

.toolbar-unfloat .mdui-typo-title {
    opacity: 0;
}

.spinnerParent {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}


/* # 复制链接样式 */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    /* position: relative; */
    pointer-events: none;
}

.markdown h1::before,
.markdown h2::before,
.markdown h3::before,
.markdown h4::before,
.markdown h5::before,
.markdown h6::before {
    content: '#';
    width: 1rem;
    display: inline-block;
    position: absolute;
    color: var(--markdown-color-primary);
    /* left: calc(-1rem - 8px); */
    margin-left: calc(-1rem - 8px);
    opacity: 0;
    cursor: pointer;
    pointer-events: all;
    transition: opacity .1s cubic-bezier(.4, 0, .2, 1);
}

.markdown h1:hover::before,
.markdown h2:hover::before,
.markdown h3:hover::before,
.markdown h4:hover::before,
.markdown h5:hover::before,
.markdown h6:hover::before {
    opacity: 1;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    padding-top: 80px;
    margin-top: calc(-72px);
}

.markdown {
    padding: 16px;
}

.markdown,
.mdui-container {
    transition: all .2s cubic-bezier(.4, 0, .2, 1), color 0s;
}

.markdown a {
    word-break: break-all;
}

@media screen and (min-width:600px) {
    .markdown {
        /* padding: 24px 32px;
        margin: 16px 0; */
        margin: 16px auto;
        box-shadow: var(--mdui-shadow-2);
        background-color: var(--mdui-color-surface);
        border-radius: 4px;
    }
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
    z-index: 9999;
}

.medium-zoom-image--opened {
    background-color: var(--mdui-color-background);
    image-rendering: -webkit-optimize-contrast;
}

/* 填加阴影 */
.medium-zoom-image--opened[style*="transform"] {
    box-shadow: var(--mdui-shadow-4);
}

/* 选择器强度不够，标签名来凑 */
img.medium-zoom-image {
    transition: transform 0.3s cubic-bezier(0.2, 0, 0.2, 1),
        box-shadow 0.3s cubic-bezier(0.2, 0, 0.2, 1) !important;
}

body {
    transition: padding .3s cubic-bezier(0, 0, .2, 1),
        background .2s cubic-bezier(.4, 0, .2, 1),
        transform .2s cubic-bezier(.4, 0, .2, 1),
        opacity .2s cubic-bezier(.4, 0, .2, 1),
        box-shadow .2s cubic-bezier(.4, 0, .2, 1) !important;
}

.mdui-drawer .mdui-list-dense .mdui-list-item {
    min-height: 32px;
}

.mdui-drawer .mdui-list-dense .mdui-list-item::after {
    height: 32px;
}

.mdui-drawer .mdui-list .mdui-list-item {
    margin: 8px;
    padding: 0 8px;
    border-radius: 4px;
    font-weight: normal;
    transition: color 0.3s cubic-bezier(0.2, 0, 0.2, 1),
        background-color 0.3s cubic-bezier(0.2, 0, 0.2, 1);
}

.mdui-drawer .mdui-list .mdui-list-item-active {
    background-color: #1A73E822;
    color: #1A73E8;
    font-weight: normal;
}

.mdui-typo code,
.mdui-theme-layout-auto .mdui-typo code {
    color: var(--mdui-color-primary);
}
