.links {
    font-size: 0;
}

.link-btn {
    border-radius: 18px;
    margin: 8px;
    text-transform: none;
}

.card-image {
    aspect-ratio: 16/9;
}

.mdui-panel {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-icon {
    float: right;
    position: absolute;
    right: 16px;
    bottom: 16px;
    color: var(--mdui-color-on-background);
}

.card-icon.dark {
    color: rgba(255, 255, 255, 0.54)
}

.mdui-divider {
    height: 1.5px;
    margin: 0;
}

.mdui-panel {
    --mdui-color-surface: var(--mdui-color-surface-toolbar);
}

a {
    text-decoration: none;
}

.footer-title {
    margin: 0 !important;
    display: block;
    margin-bottom: 16px !important;
    font-size: 1.25rem;
}

footer ul {
    padding-left: 0 !important;
    list-style: none !important;
}