@import url(jesse205/shadow.css);
@import url(jesse205/dialog.css);
@import url(jesse205/panel.css);
@import url(jesse205/menu.css);

body {
    /* 字体恢复为默认 */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mdui-toolbar {
    background-color: white;
    transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
}

.mdui-toolbar>.jesse205-toolbar-menusSpace {
    display: flex;
}

.mdui-overlay {
    background: rgba(0, 0, 0, 0.35);
}


/* 卡片 */
.jesse205-card-outlined {
    border: 1px solid rgba(0, 0, 0, .12) !important;
    border-radius: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jesse205-card-media-covered-dark {
    color: white;
    text-shadow: 0 0 5px black;
}

.jesse205-card-media-covered-light {
    color: black;
    text-shadow: 0 0 5px white;
}

.jesse205-card-media-covered-auto {
    color: black;
    text-shadow: 0 0 5px white;
}

.mdui-card {
    border-radius: 8px;
}

.mdui-card-primary {
    padding: 16px;
}

.mdui-card-primary-title,
.mdui-card-primary-subtitle {
    line-height: normal !important;

}

.mdui-card-primary-title {
    font-size: 18px;
    font-weight: bold;
}

.mdui-card-primary-subtitle {
    font-size: 16px;
}

.jesse205-btn-outlined {
    border: 1px solid rgba(0, 0, 0, .12) !important;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: auto
}

.jesse205-btn-withicon {
    justify-content: center;
    align-items: center;
    display: flex;
    width: min-content;
    margin: auto;
}


.jesse205-btn-withicon img,
.jesse205-btn-withicon i {
    margin-right: 4px;
}

.jesse205-btn-icon-text {
    font-size: 14px;
    min-width: 40px;
    height: 40px;
    border-radius: 20px !important;
    display: flex;
    align-items: center;
    text-transform: none;
}

.mdui-btn {
    border-radius: 4px;
}

.mdui-btn-icon,
.mdui-toolbar .mdui-btn-icon {
    border-radius: 50%;
    width: 40px;
    min-width: 40px;
    height: 40px;
}

/* indigo */
.mdui-theme-primary-indigo .mdui-text-color-theme,
.mdui-theme-accent-indigo .mdui-text-color-theme-accent {
    color: #3F51B5 !important;
}

.mdui-theme-primary-indigo .mdui-color-theme,
.mdui-theme-accent-indigo .mdui-color-theme-accent {
    background-color: #5C6BC0 !important;
}

/* blue */
.mdui-theme-primary-blue .mdui-text-color-theme,
.mdui-theme-accent-blue .mdui-text-color-theme-accent {
    color: #1A73E8 !important;
}

.mdui-theme-primary-blue .mdui-color-theme,
.mdui-theme-accent-blue .mdui-color-theme-accent {
    background-color: #1A73E8 !important;
    color: #fff !important;
}


.mdui-panel-item-title {
    width: auto;
}

.mdui-spinner {
    width: 40px;
    height: 40px;
}

.mdui-spinner-circle {
    border-width: 4px !important;
}

@media (prefers-color-scheme: dark) {
    .jesse205-theme-html-auto {
        color-scheme: dark;
    }

    .mdui-theme-layout-auto {
        background-color: #202124 !important;
        color-scheme: dark;
    }

    .mdui-theme-layout-auto .mdui-toolbar {
        background-color: #202124;
    }

    .mdui-theme-layout-auto .jesse205-toolbar-float {
        background-color: #38393D;
    }

    .mdui-theme-layout-auto .jesse205-card-outlined {
        border: 1px solid rgba(255, 255, 255, .12) !important;
    }

    .mdui-theme-layout-auto .jesse205-card-media-covered-auto {
        color: white;
        text-shadow: 0 0 5px black;
    }


    .mdui-theme-layout-auto .jesse205-btn-outlined {
        border: 1px solid rgba(255, 255, 255, .12) !important;
    }

    .mdui-theme-layout-auto .jesse205-chip-outlined {
        border: 1px solid rgba(255, 255, 255, .12) !important;
    }


    /* blue */
    .mdui-theme-layout-auto.mdui-theme-primary-blue .mdui-text-color-theme,
    .mdui-theme-layout-auto.mdui-theme-accent-blue .mdui-text-color-theme-accent {
        color: #8AB4F8 !important;
    }

    .mdui-theme-layout-auto.mdui-theme-primary-blue .mdui-color-theme,
    .mdui-theme-layout-auto.mdui-theme-accent-blue .mdui-color-theme-accent {
        background-color: #8AB4F8 !important;
    }
}


.jesse205-row-xs-1 .jesse205-col,
.jesse205-row-sm-2 .jesse205-col,
.jesse205-row-md-2 .jesse205-col {
    width: 100%;
}

.jesse205-row-xs-1,
.jesse205-row-sm-2,
.jesse205-row-md-2 {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width:600px) {
    .jesse205-row-sm-2 .jesse205-col {
        width: 50%;
    }
}

@media screen and (min-width:1024px) {
    .jesse205-row-md-2 .jesse205-col {
        width: 50%;
    }
}