:root {
    --markdown-color-border: var(--mdui-color-line);
    --markdown-color-primary: var(--mdui-color-primary)
}

html,
body {
    scroll-behavior: smooth;
}

.markdown h1,
.markdown h2 {
    padding-bottom: 4.8px;
    border-bottom: 1.5px solid var(--markdown-color-border);
}

.markdown img {
    max-width: 100%;
    border-radius: 4px;
}

.markdown code {
    display: inline-block;
    background: var(--markdown-color-border);
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 14px;
    max-width: 100%;
    overflow: auto;
    vertical-align: top;
}

/* 引用 */
.markdown blockquote {
    /* padding: 8px 12px; */
    margin: 4px 0;
}

.markdown blockquote>:first-child {
    margin-top: 0;
}

.markdown blockquote>:last-child {
    margin-bottom: 0;
}

/* 表格 */
.markdown table {
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
}

.markdown table th {
    font-weight: 600;
}

.markdown table th,
.markdown table td {
    padding: 6px 13px;
    border: 1.5px solid var(--markdown-color-border);
}


/*@media (prefers-color-scheme: dark) {
    body {
        color-scheme: dark;
    }
}*/

.badge {
    background-color: #1A73E822;
    color: #1A73E8;
    font-size: .75rem;
    border-radius: 4px;
    padding: 2px 4px;
    vertical-align: top;
    display: inline-block;
    margin: 2px;
}