@import url(mdui2/shadow.css);
@import url(mdui2/radius.css);
@import url(mdui2/animation.css);

:root {
    --mdui-color-white: #fff;
    --mdui-color-black: #000;
    --mdui-color-google-blue-600: #1A73E8;
    --mdui-color-google-blue-300: #8AB4F8;
    --mdui-color-google-grey-900: #202124;

    --mdui-color-primary: var(--mdui-color-google-blue-600);
    --mdui-color-accent: var(--mdui-color-primary);
    --mdui-color-surface: var(--mdui-color-background);
    --mdui-color-surface-menu: var(--mdui-color-surface);
    --mdui-color-surface-toolbar: var(--mdui-color-surface);
    --mdui-color-background: var(--mdui-color-white);

    --mdui-color-on-primary: var(--mdui-color-white);
    --mdui-color-on-surface: var(--mdui-color-on-background);
    --mdui-color-on-accent: var(--mdui-color-on-primary);
    --mdui-color-on-background: var(--mdui-color-black);

    --mdui-color-line: rgba(0, 0, 0, .12);
    --mdui-color-selection: var(--mdui-color-google-blue-300);

    --mdui-line: 1.5px solid var(--mdui-color-line);
    --mdui-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Blue */
.mdui2-theme-accent-blue {
    --mdui-color-accent: var(--mdui-google-blue-600);
}

.mdui2-theme-primary-blue {
    --mdui-color-accent: var(--mdui-google-blue-600);
}


html,
body {
    /* 字体恢复为默认 */
    font-family: var(--mdui-font);
    background-color: var(--mdui-color-background);
    color: var(--mdui-color-on-background);
    accent-color: var(--mdui-color-accent);
}

*::selection {
    background-color: var(--mdui-color-selection);
}

.mdui-text-color-theme {
    color: var(--mdui-color-primary) !important;
}

.mdui-text-color-theme-accent {
    color: var(--mdui-color-accent) !important;
}

.mdui-color-theme {
    background-color: var(--mdui-color-primary) !important;
    color: #fff !important;
}

.mdui-color-theme-accent {
    background-color: var(--mdui-color-accent) !important;
    color: #fff !important;
}

.mdui-typo a::before {
    background-color: var(--mdui-color-accent);
}

.mdui-typo a {
    color: var(--mdui-color-accent);
}

/* 行高为1，防止图标未加载时字符错位 */
.mdi:before,
.mdi-set {
    line-height: 1;
}

.mdui-overlay {
    /* 修改默认overlay透明度 */
    background: rgba(0, 0, 0, 0.35);
}

/* #region Spinner */
.mdui-spinner {
    width: 40px;
    height: 40px;
}

.mdui-spinner-circle {
    border-width: 4px !important;
}

.mdui-spinner-layer {
    border-color: var(--mdui-color-primary);
}

/* #endregion Spinner */

/* #region 卡片 */
.mdui-card,
.mdui-card-outlined,
.mdui-theme-layout-auto .mdui-card,
.mdui-theme-layout-auto .mdui-card-outlined {
    background-color: var(--mdui-color-surface);
}

.mdui-card-primary {
    padding: 16px;
}

.mdui-card-primary-title,
.mdui-card-primary-subtitle {
    line-height: normal !important;
}

.mdui-card-primary-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.mdui-card-primary-subtitle {
    font-size: 16px;
    margin: 0;
}

/* #endregion 卡片 */

/* #region 按钮 */
/* 使用flex布局，避免发一系列间距、位置引问题 */
.mdui-btn,
.mdui-typo .mdui-btn {
    padding: 4px;
    margin: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    line-height: normal;
}

.mdui-btn>* {
    padding: 4px 4px;
}

.mdui-btn>img {
    height: 24px;
    width: 24px;
    box-sizing: content-box;
}

.mdui-btn-icon .mdui-icon {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: none;
    transform: none;
    box-sizing: content-box;
}

/* #endregion 按钮*/

.mdui-card-outlined,
.mdui-btn-outlined {
    border: var(--mdui-line) !important;
}

.mdui-menu,
.mdui-theme-layout-auto .mdui-menu {
    background-color: var(--mdui-color-surface-menu);
}


/* #region 工具栏 */

.mdui-toolbar {
    background-color: var(--mdui-color-background);
    color: var(--mdui-color-on-surface);
}

.mdui-toolbar-lifted {
    background-color: var(--mdui-color-surface-toolbar);
}

.mdui-btn-icon,
.mdui-toolbar .mdui-btn-icon {
    border-radius: 50%;
    width: 40px;
    min-width: 40px;
    height: 40px;
}

.mdui-toolbar .mdui-btn {
    border-radius: 20px;
    min-width: 40px;
    height: 40px;
    padding: 6px;
}

/* #endregion 工具栏 */

/* #region 扩展面板 */
.mdui-panel.mdui-panel-gapless {
    overflow: hidden;
}

.mdui-panel-gapless .mdui-panel-item {
    border-bottom: var(--mdui-line);
}

.mdui-panel-item-title {
    width: auto;
}

.mdui-panel-item-header {
    height: 48px;
    padding: 0 16px;
}

.mdui-panel-item-open>.mdui-panel-item-header {
    height: 48px;
}

.mdui-panel-item-arrow {
    right: 12px;
}

.mdui-panel-item-open>.mdui-panel-item-header .mdui-panel-item-arrow {
    top: 12px;
}

.mdui-panel-item-body {
    padding: 0 16px;
}

.mdui-panel-item-body::before {
    height: 8px;
}

.mdui-panel-item-body::after {
    height: 8px;
}

.mdui-panel-item,
.mdui-theme-layout-auto .mdui-panel-item {
    background-color: var(--mdui-color-surface-toolbar);
}

.mdui-panel-item,
.mdui-panel-gapless .mdui-panel-item:last-child {
    border-bottom: none;
}

/* #endregion 扩展面板 */

.mdui-ripple-wave {
    transition-duration: 0.3s;
}

/* #region Tab */
.mdui-tab .mdui-tab-active {
    color: var(--mdui-color-primary);
}

.mdui-tab-indicator {
    background-color: var(--mdui-color-primary);
}

.mdui-dialog-actions .mdui-btn {
    color: var(--mdui-color-accent);
}

/* #endregion Tab */


@media (prefers-color-scheme: dark) {
    .mdui-theme-html-auto:root {
        --mdui-color-primary: var(--mdui-color-google-blue-300);
        --mdui-color-surface-menu: #38393D;
        --mdui-color-surface-toolbar: #343536;
        --mdui-color-background: var(--mdui-color-google-grey-900);
        --mdui-color-on-background: var(--mdui-color-white);
        --mdui-color-line: rgba(255, 255, 255, .12);
        --mdui-color-selection: var(--mdui-color-google-blue-600);
    }

    .mdui-theme-html-auto,
    .mdui-theme-layout-auto {
        color-scheme: dark;
        background-color: var(--mdui-color-background);
    }
}