<!DOCTYPE html>
<html lang="zh-CN" class="mdui-theme-html-auto">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="manifest" href="/manifest.webmanifest" />

  <title>Edde 系列</title>
  <meta name="keywords" content="Edde系列,Edde互联,jesse205,aidelua,hellotool">
  <meta name="author" content="Jesse205" />
  <meta name="robots" content="all,follow">

  <link rel="icon" sizes="any" href="favicon.png">

  <!-- Vue -->
  <!-- <script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script> -->
  <script src="https://unpkg.com/vue@2.7.14/dist/vue.min.js"></script>

  <!-- MDUI -->
  <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
  <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@mdi/font@7.2.96/css/materialdesignicons.min.css" />

  <!-- Jesse205Library -->
  <link rel="stylesheet" href="/css/jesse205.css" />
  <script src="/js/jesse205.js"></script>

  <!-- 当前页面 -->
  <link rel="stylesheet" href="css/index.css" />
  <script src="js/index.js"></script>

  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?995dc9c080738b4a91d6211cbd9a1952";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

</head>

<body class="mdui-appbar-with-toolbar mdui-theme-layout-auto">
  <!-- 这是Vue的 -->
  <div id="app" class="mdui-container">
    <!-- 标题栏 -->
    <nav class="mdui-appbar mdui-appbar-fixed" :class="{'mdui-appbar-lifted':!isTop}">
      <div class="mdui-toolbar" :class="{'mdui-toolbar-lifted':!isTop}">
        <p class="mdui-typo-title">Edde 系列</p>
        <div class="mdui-toolbar-spacer"></div>

        <!-- 菜单区域 -->
        <template v-for="item in menus">
          <a v-if="item.type=='menu'" :href="item.href" class="mdui-btn mdui-ripple mdui-hidden-xs-down"
            :targrt="item.target">{{item.title}}</a>
        </template>
        <!-- 更多菜单按钮 -->
        <div class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-sm-up" mdui-menu="{target: '#menu-more'}"
          mdui-tooltip="{'content':'更多选项'}">
          <i class="mdui-icon material-icons">more_vert</i>
        </div>
        <!-- 弹出菜单 -->
        <ul class="mdui-menu" id="menu-more">
          <div>
            <template v-for="item in menus">
              <li v-if="item.type=='menu'" class="mdui-menu-item">
                <a :href="item.href" class="mdui-ripple" :targrt="item.target">{{item.title}}</a>
              </li>
              <li v-else-if="item.type=='divider'" class="mdui-divider"></li>
            </template>
          </div>
        </ul>
      </div>
    </nav>

    <!-- 可扩展面板 -->
    <section v-if="apps && apps.length!=0" id="mainlist" class="mdui-panel mdui-panel-gapless" mdui-panel>
      <section v-for="group in apps" class="mdui-panel-item mdui-panel-item-open" open>
        <!-- 面板header -->
        <div class="mdui-panel-item-header mdui-ripple">
          <div class="mdui-panel-item-title">{{group.name}}</div>
          <i class="mdui-panel-item-arrow mdui-icon mdi mdi-chevron-down"></i>
        </div>
        <!-- 面板body -->
        <div class="mdui-panel-item-body">
          <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3 mdui-row-lg-4">
            <!-- 单个卡片 -->
            <template v-for="content in group.items">
              <div class="mdui-col mdui-p-a-1">
                <a :href="content.src " target="_blank">
                  <div class="mdui-card-outlined mdui-hoverable-2 mdui-shadow-transition mdui-card mdui-ripple">
                    <div class="mdui-card-media">
                      <img class="card-image" :src="content.image" :alt="content.name" draggable="false" />
                    </div>
                    <div class="mdui-divider"></div>
                    <div class="mdui-card-primary">
                      <div class="mdui-card-primary-title">{{content.name}}</div>
                      <div class="mdui-card-primary-subtitle">{{content.summary}}</div>
                    </div>
                    <i class="card-icon mdui-icon mdi" :class="[`mdi-${content.icon}`,content.dark&&'card-icon-dark']"
                      :title="content['url-type']"></i>
                  </div>
                </a>
              </div>
            </template>
          </div>
        </div>
      </section>
    </section>

    <section v-if="links.length!=0" id="linkslist" class="mdui-panel mdui-panel-gapless jesse205-card-outlined"
      mdui-panel>
      <section class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header mdui-ripple">
          <div class="mdui-panel-item-title">友情链接</div>
          <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body mdui-p-x-1">
          <div class="links">
            <a v-for="item in links" class="mdui-btn mdui-ripple mdui-btn-outlined link-btn mdui-hoverable-4"
              :href="item.href" target="_blank">{{item.name}}
            </a>
          </div>
        </div>
      </section>
    </section>

  </div>
</body>

</html>