<!DOCTYPE html>
<html lang="zh-CN" class="mdui-theme-html-auto">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" sizes="any" href="favicon.png">
    <title>杰西垃圾 - Edde 系列</title>
    <meta name="keywords" content="Edde系列,Edde互联,jesse205,杰西205,杰西垃圾">
    <meta name="author" content="Jesse205" />
    <meta name="robots" content="all,follow">
    <meta name="description" content="杰西垃圾是杰西 205 制作的非常多神似垃圾或者垃圾改动的小工具。有质感 HAP 查看器，桌面时钟 Lite 等等等等。" />


    <!-- Vue -->
    <!-- <script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue@2.7.14/dist/vue.min.js"></script>
    <script src="https://unpkg.com/showdown@2.1.0/dist/showdown.min.js"></script>

    <!-- medium-zoom -->
    <script src="https://unpkg.com/medium-zoom@1.0.7/dist/medium-zoom.min.js"></script>

    <!-- MDUI -->
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
    <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@7.2.96/css/materialdesignicons.min.css" />

    <!-- Jesse205Library -->
    <link rel="stylesheet" href="/css/jesse205.css" />
    <script src="/js/jesse205.js"></script>

    <!-- 当前页面 -->
    <link rel="stylesheet" href="/css/documentPage.css" />
    <script src="./rubbish.md.js"></script>
    <script src="./js/rubbish.js"></script>
</head>

<body class="mdui-appbar-with-toolbar mdui-theme-layout-auto mdui-drawer-body-left ">
    <!-- 这是Vue的 -->
    <div id="app">
        <!-- 标题栏 -->
        <nav class="mdui-appbar mdui-appbar-fixed" :class="{'mdui-appbar-lifted':!isTop}">
            <div class="toolbar mdui-toolbar" :class="{'toolbar-unfloat':isTop,'mdui-toolbar-lifted':!isTop}">
                <!-- 返回按钮 -->
                <div class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-drawer'}">
                    <i class="mdui-icon material-icons">menu</i>
                </div>
                <p class="mdui-typo-title">{{title}}</p>
                <div class="mdui-toolbar-spacer"></div>
                <!-- 菜单区域 -->
                <template v-for="item in menus">
                    <a v-if="item.type=='menu'" :href="item.href" class="mdui-btn mdui-ripple mdui-hidden-xs-down"
                        :targrt="item.target">{{item.title}}</a>
                </template>
                <!-- 更多菜单按钮 -->
                <div class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-sm-up" mdui-menu="{target: '#menu-more'}"
                    mdui-tooltip="{'content':'更多选项'}">
                    <i class="mdui-icon material-icons">more_vert</i>
                </div>
                <!-- 弹出菜单 -->
                <ul class="mdui-menu" id="menu-more">
                    <div>
                        <template v-for="item in menus">
                            <li v-if="item.type=='menu'" class="mdui-menu-item mdui-hidden-sm-up">
                                <a :href="item.href" class="mdui-ripple" :targrt="item.target">{{item.title}}</a>
                            </li>
                            <li v-else-if="item.type=='divider'" class="mdui-divider mdui-hidden-sm-up"></li>
                        </template>
                    </div>
                </ul>
            </div>
        </nav>
        <div class="mdui-drawer" id="left-drawer">
            <ul class="mdui-list mdui-list-dense">
                <template v-if="overview" v-for="item in overview">
                    <li v-if="item.tag==='h2'" class="mdui-subheader" v-html="item.name"></li>
                    <li v-else class="mdui-list-item mdui-ripple" :class="{'mdui-list-item-active': hash==='#'+item.id}"
                        @click="goto(item.id)" v-html="item.name"></li>
                </template>
            </ul>
            <!-- <ul class="mdui-list mdui-list-dense">
                <li v-if="h3List" v-for="item in h3List" class="mdui-list-item mdui-ripple"
                    :class="{'mdui-list-item-active': hash==='#'+item.id}" @click="goto(item.id)">
                    {{item.innerText}}
                </li>
            </ul> -->
        </div>
        <div v-if="isLoaded" class="mdui-container mdui-typo markdown" @click="handelContentClick" v-html="content"
            ref="markdownElement">
        </div>

        <!-- <div v-else class="spinnerParent">
            <div class="mdui-spinner"></div>
        </div> -->
    </div>
    <script>
        vm.$mount('#app')
    </script>
</body>

</html>