/* 优化扩展面板 */
.mdui-panel::before {
    border-radius: 8px;
}

.mdui-panel {
    border-radius: 8px;
    overflow: hidden;
}

.mdui-panel-item-header {
    height: 48px;
    border-radius: 0;
}

.mdui-panel-item-open>.mdui-panel-item-header {
    height: 48px;
}

.mdui-panel-item-arrow {
    right: 12px;
}

.mdui-panel-item-open>.mdui-panel-item-header .mdui-panel-item-arrow {
    top: 12px;
}

.mdui-panel-item-body::before {
    height: 8px;
}

.mdui-panel-item-body::after {
    height: 8px;
}