html {
    margin: 0;
}

html,
body {
    scroll-behavior: smooth;
}

.toolbar-top {
    background-color: transparent !important;
}

.downloadBtnsGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.hero {
    background: url(../img/background/banner-4.png) no-repeat;
    background-size: 100% 80%
}

.hero .mdui-col {
    padding: 8px;
}

.hero>div {
    padding: 16px 16px;
}

.app-title {
    font-weight: bold;
}

.device-wrapper {
    margin: auto;
    max-width: 300px;
    width: 100%;
    z-index: 999;
    position: relative
}

.device {
    background-image: url(../img/device-mockups/iPhoneX/portrait.png) !important;
    z-index: 1;
    background-size: cover;
    height: 100%;
    padding-bottom: 202.898072%;
    max-width: 300px;
    width: 100%;
}

.device .screen {
    position: absolute;
    top: 15px;
    left: 5%;
    width: 90%;
    height: 93.49030471%;
    border: 0;
    z-index: -1;
    overflow: hidden;
}

.title {
    color: var(--mdui-color-primary);
}

.subTitle {
    font-size: 1rem;
}

.imgIcon {
    width: 24px;
    height: 24px;
}

.bigIcon {
    font-size: 56px;
}

.featureContent {
    font-size: medium;
}

/* 插画 */
.illustration {
    width: 100%;
    max-width: 400px;
    padding: 16px;
}

#features .mdui-card {
    min-height: 280px;
}


#introduce {
    background: url(../img/background/service-bg.png) no-repeat;
    background-size: cover;
}

#testimonials {
    background: url(../img/background/testimonials-bg.png) no-repeat;
    background-size: 40% 100%;
    background-position: left center;
    /* text-align: center; */
}

.user-comments {
    columns: 1;
    column-gap: 32px;
    margin: 16px;
}

.user-card {
    max-width: 640px;
    margin: 16px auto;
    padding-top: 40px;
    text-align: center;
    break-inside: avoid;
    /* float: left; */
}

.user-card .mdui-card {
    overflow: visible;
    padding: 24px;
    padding-top: 32px;
}

.user-avatar {
    /* width: 72px; */
    /* height: 72px; */
    position: absolute;
    top: 0;
    margin-left: -36px;
    margin-top: -36px;
    display: inline-block;
}

.user-avatar img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    box-shadow: var(--mdui-shadow-4);
    background-color: var(--mdui-color-background);
}

/* 用户头像右下角图标 */
.user-avatar::after {
    content: '\e253';
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #4477e0;
    border: 3px solid white;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Material Icons';
    font-weight: 900;
    color: white;
    text-align: center;
    line-height: 27px;
    font-size: .5rem;
    box-shadow: var(--mdui-shadow-4);
}

.user-name {
    margin: 8px 0;
    font-size: 1rem;
}

.user-message {
    display: block;
    margin: 16px 0;
}

.user-description {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 0;
}

footer {
    background: url(../img/background/pattern.png);
    background-repeat: no-repeat;
    background-position: right;
}

.footer-title {
    margin: 0 !important;
    display: block;
    margin-bottom: 16px !important;
    font-size: 1.25rem;
}

img.footer-title {
    height: 32px;
}

footer ul {
    padding-left: 0 !important;
    list-style: none !important;
}

@media screen and (min-width:600px) {
    .hero>div {
        padding: 56px 56px;
    }

    .user-comments {
        columns: 2;
    }
}

@media screen and (min-width:1024px) {
    .user-comments {
        columns: 3;
    }
}

/* @media screen and (min-width:1920px) {
    .user-comments {
        columns: 4;
    }
} */