header>div {
	text-align: center;
	margin-top: -40px;
	opacity: 0.9999999;
}

header>img {
	height: 160px;
	width: 100%;
	object-fit: cover;
	opacity: .2
}

.icon {
	border-radius: 8px;
	height: 80px;
	width: 80px;
}

.app-title,
.app-summary {
	display: block;
	margin: 8px;
	margin-right: auto !important;
	margin-left: auto !important;
	text-align: center;
	font-weight: 400;
	width: fit-content;
}

.app-title {
	font-size: 22px;
	font-weight: bold;
}

.app-summary {
	font-size: 18px;
	max-width: 250px
}

.app-goup-btn {
	margin: 8px !important;
	font-size: 0;
}

.app-goup-btn>a {
	font-size: 16px;
	margin: 8px !important;
}

.group {
	background-color: #FFFFFF;
	margin: auto;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.subgroup {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.title,
.subtitle {
	display: block;
	margin-right: auto !important;
	margin-left: auto !important;
	text-align: center;
	font-weight: 400
}


.title {
	margin: 0;
	font-size: 18px;
	text-align: center;
}

.subtitle {
	margin: 0;
	font-size: 14px;
	max-width: 250px
}



.divider {
	background-color: #F5F5F5;
	padding: 8px
}

.screenshots {
	padding: 0;
}

.screenshots>div {
	margin-left: auto;
	margin-right: auto;
}

.screenshot {
	width: 100%;
	display: block;
}

.screenshot-item {
	padding-left: 24px !important;
	padding-right: 24px !important;
	padding: 8px;
}

.screenshot-item>p {
	padding-bottom: 8px;
}

.developers {
	width: fit-content;
	margin: auto;
	display: flex;
	justify-content: center;
	padding: 8px;
}

.developers div {
	width: 120px;
	text-align: center;
}

.developers h1 {
	margin: 2px;
}

.developers p {
	margin: 2px;
}


.avatar {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	margin: 8px;
}


.item {
	padding: 8px;
}

.bottom-links>div {
	float: left;
	justify-content: center;
	display: flex;
	padding: 8px;
}

.contact a {
	width: 150px;
	height: 40px;
}

.links a {
	width: 150px;
	margin: auto;
}

.links a>div {
	width: 100%;
	text-align: center;
	overflow: hidden;
	border: 0 !important;
}

.links a>div>span {
	padding: 0;
}

footer {
	padding: 8px;
	color: rgba(0, 0, 0, .54);
	background-color: #F5F5F5;
	text-align: center
}

@media (prefers-color-scheme: dark) {
	.mdui-theme-layout-auto footer {
		color: #F5F5F5;
		background-color: #212121;
	}

	.mdui-theme-layout-auto .divider {
		background-color: #212121;
	}

	.mdui-theme-layout-auto .group {
		background-color: #303030;

	}
}

@media screen and (min-width:300px) {}

@media screen and (min-width:400px) {
	.screenshots>div {
		width: 90%;
	}
}

@media screen and (min-width:600px) {
	.icon {
		height: 112px;
		width: 112px
	}

	header>img {
		height: 200px;
	}

	header>div {
		margin-top: -56px;
	}
}

@media screen and (min-width:800px) {
	.screenshots>div {
		width: 75%;
	}
}

@media screen and (min-width:1024px) {
	.screenshots>div {
		width: 90%;
	}
}

@media screen and (min-width:1440px) {
	.screenshots>div {
		width: 80%;
	}

	.links>div {
		padding: 4px;
	}
}

@media screen and (min-width:1920px) {

	/* 屏幕宽度大于1920px时固定图片大小 */
	.screenshot {
		width: 336px;
		margin-left: auto !important;
		margin-right: auto !important;
	}


}