<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>哈兔Box</title>
  <meta name="description" content="哈兔Box，一个简洁的蓝白风工具箱">
  <meta name="keywords" content="HelloTool,蓝白工具箱,Android工具,哈喽兔,实用小工具,多功能工具箱,工具箱,工具,效率,高效,tools,哈兔Box">
  <meta name="robots" content="all,follow">
  <link rel="shortcut icon" href="./favicon.ico">

  <!-- Vue -->
  <!-- <script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script> -->
  <script src="https://unpkg.com/vue@2.7.14/dist/vue.min.js"></script>

  <!-- MDUI -->
  <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
  <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@mdi/font@7.1.96/css/materialdesignicons.min.css" />

  <!-- Jesse205Library -->
  <link rel="stylesheet" href="/css/jesse205.css" />
  <script src="/js/jesse205.js"></script>

  <!-- 当前页面 -->
  <link rel="stylesheet" href="css/index.css" />
  <script src="js/index.js"></script>
</head>

<body>
  <!-- 这是Vue的 -->
  <div id="app">

    <!-- 标题栏 -->
    <nav class="mdui-appbar mdui-appbar-fixed" :class="{'mdui-appbar-lifted':!isTop}">
      <div class="mdui-toolbar" :class="{'mdui-toolbar-lifted':!isTop,'toolbar-top':isTop}">
        <p class="mdui-typo-title">哈兔Box</p>
        <div class="mdui-toolbar-spacer"></div>
        <template v-if="menus">
          <!-- 菜单区域 -->
          <template v-for="item in menus">
            <a v-if="item.type=='menu'" :href="item.href" class="mdui-btn mdui-ripple mdui-hidden-xs-down"
              :targrt="item.target">{{item.title}}</a>
          </template>
          <!-- 更多菜单按钮 -->
          <div class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-sm-up" mdui-menu="{target: '#menu-more'}"
            mdui-tooltip="{'content':'更多选项'}">
            <i class="mdui-icon material-icons">more_vert</i>
          </div>
          <!-- 弹出菜单 -->
          <ul class="mdui-menu" id="menu-more">
            <div>
              <template v-for="item in menus">
                <li v-if="item.type=='menu'" class="mdui-menu-item">
                  <a :href="item.href" class="mdui-ripple" :targrt="item.target">{{item.title}}</a>
                </li>
                <li v-else-if="item.type=='divider'" class="mdui-divider"></li>
              </template>
            </div>
          </ul>
        </template>
      </div>
    </nav>

    <section class="mdui-appbar-with-toolbar hero" id="hero">
      <div class="mdui-container">
        <div class="mdui-row-xs-1 mdui-row-sm-2">
          <div class="mdui-col mdui-p-y-5">
            <h1 class="app-title mdui-typo-display-2">Hello, Tool!</h1>
            <p class="mdui-typo-title mdui-m-a-1">发现更多有趣的小工具</p>
            <div class="downloadBtnsGroup">
              <!-- 下载按钮 -->
              <a class="mdui-btn mdui-color-theme mdui-btn-raised mdui-ripple downloadBtn"
                href="https://gitee.com/Jesse205/hellotool/releases/latest" target="_blank">
                <img src="./img/third/gitee-fill-round.svg" class="imgIcon" />
                <span><b>Gitee 发行版 (推荐)</b></span>
              </a>
              <a class="mdui-btn mdui-color-theme mdui-btn-raised mdui-ripple downloadBtn"
                href="http://www.appchina.com/app/com.Jesse205.hellotool" target="_blank">
                <img src="./img/third/appchina.png" class="imgIcon" />
                <span>应用汇</span>
              </a>
              <a class="mdui-btn mdui-color-theme mdui-btn-raised mdui-ripple downloadBtn"
                href="https://www.coolapk.com/apk/com.Jesse205.hellotool" target="_blank">
                <img src="./img/third/coolapk.svg" class="imgIcon" />
                <span>酷安</span>
              </a>
            </div>
            <div class="downloadBtnsGroup">
              <!-- 下载按钮 -->
              <button class="mdui-btn mdui-ripple downloadBtn" disabled target="_blank">
                哈兔Box Pro (敬请期待)
                </button>

            </div>
          </div>
          <div class="mdui-col">
            <!-- 手机图 -->
            <div class="device-wrapper">
              <div class="device">
                <img class="screen" src="img/screenshot.jpg" alt>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="introduce">
      <!-- 特性 -->
      <section id="features" class="mdui-m-y-2">
        <div class="mdui-container">
          <h2 class="title">特性</h2>
          <p class="subTitle">Why HelloTool ?</p>
          <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3 mdui-row-lg-4">
            <div v-for="item in introduce" class="mdui-col mdui-p-a-2">
              <div class="mdui-card mdui-hoverable mdui-p-a-3">
                <i class="bigIcon mdi" :class="['mdui-text-color-'+item.iconColor, 'mdi-'+item.icon]"></i>
                <h3 class="mdui-typo-title mdui-m-y-2">{{item.title}}</h3>
                <p class="featureContent mdui-typo-body-1" v-html="item.message.replace(/\n/g, '<br>')"></p>
              </div>
            </div>
          </div>
      </section>

      <section id="services">
        <div class="mdui-container">
          <!-- 配图介绍 -->
          <div class="jesse205-row-xs-1 jesse205-row-sm-2 mdui-valign mdui-m-y-2">
            <!-- 插画 -->
            <div class="jesse205-col">
              <div class="mdui-p-x-5 mdui-text-center">
                <img class="illustration" src="./img/illustrations/objects.svg" alt>
              </div>
            </div>
            <!-- 文字 -->
            <div class="jesse205-col mdui-typo">
              <h3>实用小工具应用的不二之选</h3>
              <p class="description">我们始终在追求简洁高效的使用体验，对浪费性能的过分美化说 <del>NO</del> YSE!<small>（我改主意了）</small><br>
                遇到问题？Take it easy！我们提供长期技术支持服务，欢迎加入我们的官方服务群聊，各种问题轻松反馈!</p>
              <!-- 加入群聊按钮 -->
              <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme mdui-m-a-0"
                mdui-dialog="{target: '#joinGroupDialog'}">
                <i class="mdui-icon mdi mdi-account-multiple-plus-outline"></i>
                <span>加入群聊</span>
              </button>
              <div class="mdui-dialog" id="joinGroupDialog">
                <div class="mdui-dialog-title">交流反馈</div>
                <div class="mdui-dialog-content">您想要加入我们的哪一个群聊？
                  <div>
                    <a v-for="item in groups" class="mdui-btn mdui-text-color-theme mdui-ripple"
                      :href="item.href">{{item.name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="jesse205-row-xs-1 jesse205-row-md-2 mdui-valign mdui-m-y-2">
            <div class="jesse205-col mdui-typo">
              <h3>这是一个简单而强大的原创APP</h3>
              <p>在这里，您将体会到我们独到的匠心。</p>
              <ul>
                <li>触手可及：可将常用的工具添加到首页或桌面</li>
                <li>极致灵活：使用 AndroLua+ 开发，拥有非常大的灵活性</li>
                <li>绿色轻量：零后台，无权限滥用</li>
                <li>无障碍设计：为无障碍专门设置 ContentDescription</li>
                <li>开源代码：可供借鉴学习</li>
              </ul>
            </div>
            <div class="jesse205-col">
              <div class="jesse205-row-xs-1 jesse205-row-sm-2">
                <div class="jesse205-col">
                  <div class="mdui-card mdui-hoverable mdui-p-a-3 mdui-m-a-2 mdui-typo"
                    mdui-tooltip="{content:'是不是觉得很少？对于一款从不砸钱做宣传的独立软件，这个数据已经挺难得了。😂'}">
                    <i class="bigIcon mdui-text-color-red mdi mdi-account-multiple-outline"></i>
                    <h3 class="mdui-typo-title">1200+用户的选择</h3>
                    <span>累计使用人次 10000+<br>
                      单日IP访问量 50+</span>
                  </div>
                </div>
                <div class="jesse205-col">
                  <a class="mdui-card mdui-hoverable mdui-p-a-3 mdui-m-a-2 mdui-ripple mdui-typo" href="donation.html"
                    style="display: block; text-decoration: none;">
                    <i class="bigIcon mdui-text-color-purple mdi mdi-credit-card-outline"></i>
                    <h3 class="mdui-typo-title">支持我们</h3>
                    <span>您可以点击此处捐赠来赞助我们的开发，让 哈兔 Box 变得更好!</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <!-- 用户评价 -->
    <section id="testimonials" class="mdui-m-y-2">
      <div class="mdui-container">
        <h2 class="title">评价</h2>
        <p class="subTitle">看看用户们怎么说?</p>
        <div class="user-comments">
          <div v-for="item in comments" class="user-card">
            <div class="mdui-card mdui-hoverable">
              <div class="user-avatar">
                <img :src="item.avatarUrl" />
              </div>
              <p class="user-message mdui-typo" v-html="item.content"></p>
              <h4 class="user-name">{{item.name}}</h4>
              <p class="user-description">{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="about" class="mdui-shadow-4">
      <div class="mdui-container">
        <div class="mdui-row-xs-1 mdui-row-sm-3 mdui-typo">
          <div class="mdui-col mdui-m-y-2">
            <img class="footer-title" src="./img/logo/logo.png" alt="LOGO">
            <p class="mdui-m-y-2">
              A toolkit application for Android developed by Jesse205.<br>
              This site was produced by hsdbql.
            </p>
            <ul>
              <li><a href="https://gitee.com/Jesse205/hellotool">哈兔Box 开源仓库</a></li>
              <li><a href="https://gitee.com/Jesse205/hellotool-pro">哈兔Box Pro 开源仓库</a></li>
            </ul>
          </div>
          <div class="mdui-col mdui-m-y-2">
            <h2 class="footer-title">交流</h2>
            <ul>
              <li><a href="https://jq.qq.com/?_wv=1027&k=B9ozUt4U">综合服务 QQ 群</a></li>
              <li><a href="https://jq.qq.com/?_wv=1027&k=bBMp43GE">技术交流 QQ 群</a></li>
              <li><a href="https://jq.qq.com/?_wv=1027&k=QJH2H9Ox">软件内测 QQ 群</a></li>
              <li><a href="mqqwpa://im/chat?chat_type=wpa&uin=2140125724">联系作者 QQ</a></li>
              <li><a href="https://www.coolapk.com/u/1432137">作者酷安主页</a></li>
              <li><a href="https://wj.qq.com/s2/4296578/e2cd/">报告软件 BUG</a></li>
              <li><a href="mailto:zhangya@mail.ru">联系 WebMaster</a></li>
            </ul>
          </div>
          <div class="mdui-col mdui-m-y-2">
            <h2 class="footer-title">友链</h2>
            <ul>
              <li><a href="https://www.ygktool.com">云极客工具</a></li>
              <li><a href="https://jesse205.netlify.app">Edde 系列</a></li>
              <li><a href="https://www.appchina.com">应用汇</a></li>
              <li><a href="https://www.coolapk.com">酷安网</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyrights mdui-text-center">
        <div class="mdui-container">
          <p>Copyright &copy; 2020. FA Developpers' Association. All rights reserved.</p>
          <p>Copyright &copy; 2022-2023. Jesse205.</p>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>