/* 菜单 */
@keyframes hideOverflowYOnAnimation {
    0% {
        overflow-y: hidden;
    }

    25% {
        overflow-y: hidden;
    }

    50% {
        overflow-y: hidden;
    }

    75% {
        overflow-y: hidden;
    }

    100% {
        overflow-y: auto;
    }
}

.mdui-menu {
    transition-duration: 0s;
    opacity: 1;
}

.mdui-menu>div {
    transform: scale(2);
}

.mdui-menu-open {
    overflow-y: auto;
    transition-duration: .3s;
    animation: hideOverflowYOnAnimation .3s;
}

.mdui-menu-closing {
    transition-duration: .3s;
    opacity: 0;
}

.mdui-menu-closing>div,
.mdui-menu-open>div {
    transform: scale(1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: .3s;
    transition-property: opacity, visibility, -webkit-transform;
    transition-property: transform, opacity, visibility;
    transition-property: transform, opacity, visibility, -webkit-transform;
    will-change: transform;
}


.mdui-toolbar,
.mdui-panel-item,
.mdui-theme-html-auto,
.mdui-theme-layout-auto,
.mdui-card,
.mdui-panel-item-arrow,
.mdui-panel-item-header,
.mdui-btn,
.mdui-fab {
    transition: none;
    /* transition: all .2s cubic-bezier(.4, 0, .2, 1), all .2s cubic-bezier(.4, 0, 1, 1), all .2s cubic-bezier(.4, 0, 1, 1),color 0s; */
    transition: background .2s cubic-bezier(.4, 0, .2, 1),
        transform .2s cubic-bezier(.4, 0, .2, 1),
        opacity .2s cubic-bezier(.4, 0, .2, 1),
        box-shadow .2s cubic-bezier(.4, 0, .2, 1);
    will-change: auto;
}